#SignupTitle {
    font-size: 1.25rem;
    margin-top: .5em;
}
#SignupForm {
    display: flex;
    flex-direction: column;
}
#ViewToggler {
    margin-top: 1em;
    font-size: 1rem;
    font-style: italic;
    cursor: pointer;
}
.Hide {
    display: none;
}